In [1]:
x='12.2'
print('x')
print(x)

x
12.2

In [2]:
x = 23
y = 10
print(x)
print(y)
print(z)

23
10

NameError: name 'z' is not defined

In [3]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [4]:
name = "John"
print("Welcome our favorite hero:")
print(name)
name = "Sam"
print("He is changing his name to:")
print(name)

Welcome our favorite hero:
John
He is changing his name to:
Sam

In [5]:
2 + 3 * (36 / 9 + 1) ** 2 - 1

76.0

In [6]:
3 + 2 & 4 | 2

6

In [9]:
# Define the number of rows and columns
rows = 5
columns = 5

# Use a for loop to print the shape
for i in range(rows):
    print('*' * columns)

*****
*****
*****
*****
*****